body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Lato', sans-serif;
    background: #f4f4f4;
}

p {
    margin: 0;
}

.content {
    margin: 0 auto;
    max-width: 1260px;
    padding: 10px;
}

#editor {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
    outline: none;
    padding: 5px;
}

.tooltip {
    background: #ddd;
    width: -webkit-fill-available;
    border-radius: 5px 5px 0 0;
    margin: 10px 0 0 0;
    display: inline-flex;
    border: 1px solid #ddd;
    justify-content: space-evenly;
}

.tip {
    padding: 5px;
}